img {
  display: none;
  width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

button {
  padding: 8px;
  margin: 8px;
  background:#260033;
  color: #f9e6ff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #f9e6ff;
  color: #260033;
}

.night {
  background-color: #260033;
}

.night h1 {
  color: #f9e6ff;
}

.night button {
  background: #f9e6ff;
  color: #260033;
}
